@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #e5e7eb;
  --font-sans: 'Inter', sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

main {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

html {
  scroll-behavior: smooth;
}
